
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a href="">
            Evack
          </a>
        </li>
      </ul>
    </div>
  </footer>
