{% extends 'layouts/base.html' %}
{% block title %} Page User {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Edit Profile</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-5 px-md-1">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" value="{{ request.user.username }}">
                            </div>
                        </div>
                        <div class="col-md-7 pl-md-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" value="{{ request.user.email }}">
                            </div>
                        </div>
                    </div>
                </form>
                {% if prof == None%}
                <form method="post" action="">
                    {% csrf_token %}
                    {{form}}
                    <div class="card-footer">
                        <button type="submit" name="save" class="btn btn-fill btn-primary">Save Changes</button>
                    </div>
                </form>
                {% else %}
                <div class="row">
                    <div class="col-md-5 px-md-1">
                        <h6 class="title">Your Phone Number is:</h6>
                        <h6 class="title">{{ prof.country_code}} {{ prof.phone_number }}</h6>
                    </div>
                    <div class="col-md-5 px-md-1">
                        <form method='POST'> {% csrf_token %}
                            <a href="{% url 'sms' %}" class="btn btn-fill btn-primary"> Test SMS</a>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}