{% extends "layouts/base.html" %}
{% block title %} Evack {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="alert alert-danger alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    <span data-notify="message"><b>Warning</b> - Nearest natural disaster is {{closest_disaster.title}}</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header">
                Disaster Map
            </div>
            <style>
            .embed-container {
                position: relative;
                padding-bottom: 60%;
                height: 0;
                max-width: 100%;
            }

            .embed-container iframe,
            .embed-container object,
            .embed-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            small {
                position: absolute;
                z-index: 40;
                bottom: 0;
                margin-bottom: -15px;
            }
            </style>
            <div class="embed-container"><small><a href="//evack.maps.arcgis.com/apps/Embed/index.html?webmap=536dccede42a4a4697be1a69e74d5230&extent=-171.2522,-28.5686,-44.2503,55.8053&home=true&zoom=true&scale=true&search=true&searchextent=true&legendlayers=true&disable_scroll=false&theme=light" style="color:#0000FF;text-align:left" target="_blank">View larger map</a></small><br><iframe width="500" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Evack" src="//evack.maps.arcgis.com/apps/Embed/index.html?webmap=536dccede42a4a4697be1a69e74d5230&extent=-171.2522,-28.5686,-44.2503,55.8053&home=true&zoom=true&previewImage=false&scale=true&search=true&searchextent=true&legendlayers=true&disable_scroll=false&theme=light"></iframe></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card ">
        <div class="card-header">
            <h4 class="card-title"> Current Disasters</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                Description
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Category
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disaster in data_items %}
                        <tr>
                            <td><a href="{{disaster.link}}">
                                    {{disaster.title}}
                                </a>
                            </td>
                            <td><a href="{{disaster.link}}">
                                    {{disaster.pubDate}}
                            </td></a>
                            <td><a href="{{disaster.link}}">
                                    {{disaster.categories.0}}
                            </td></a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category"></h5>
                        <h2 class="card-title">Disasters per Month</h2>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartBig1"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Total Shipments</h5>
                <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLinePurple"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Daily Sales</h5>
                <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="CountryChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Completed Tasks</h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLineGreen"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

});
$(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initGoogleMaps();
});
var chart_labels = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
var chart_data = [100, 70, 90, 70, 85, 60, 75, 60, 90, 80, 110, 30];
</script>
{% endblock javascripts %}